<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    
    <p>
    <a href="about">about this application</a>
    </p>

    <h1>おめでとうございます！！</h1>
ここまでたどり着いたあなたはすごい！！
      <input type="button" onclick="location.href='komiya'"value="もう一度挑戦">
  </body>
</html>
