<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    この暗号を解読せよ！！<br>
cnVieV9vbl9yYWlscwo=

    <p>
    <a href="hata_1.erb">Cake_PHP</a>
    <br>
    <a href="hata_1.erb">sinatra</a>
    <br>
    <a href="hata_2.erb">Ruby_on_Rails</a>
    <br>
    <a href="hata_1.erb">Bootstrap</a>
    </p>


  </body>
</html>

