<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    
    <p>
    <a href="about">about this application</a>
    </p>

    <h1>チーム5のクイズゲーム</h1>
      <input type="button" onclick="location.href='komiya'"value="ゲームスタート">
  </body>
</html>
