<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>

    <h1>第1問</h1>

    以下のソースコードのプログラム言語は何でしょうか？<br>
    <img src="code.png" width=500>

    <p>
    <a href="komiya_1">COBOL</a>
    <br>
    <a href="komiya_1">PL/1</a>
    <br>
    <a href="komiya_1">Prolog</a>
    <br>
    <a href="komiya_2">FORTRAN</a>
    </p>


  </body>
</html>
