<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    以下のソースコードのプログラム言語は何でしょうか？<br>
    <img src="code.png" width=500>

    <p>
    <a href="komiya_1.erb">COBOL</a>
    <br>
    <a href="komiya_1.erb">PL/1</a>
    <br>
    <a href="komiya_1.erb">Prolog</a>
    <br>
    <a href="komiya_2.erb">FORTRAN</a>
    </p>


  </body>
</html>
