<html>
<head>
  <title>quiz game</title>

  <style type="text/css">
    body {background-color: gray}
    p {margin-left: 20px}
  </style>
  <script type="text/javascript">
  var anser;
  i=1;
  function ansertest() {
    anser=document.getElementById('anser1').value;
    if (anser=='1万2500円'||anser=='12500') {
      alert('正解です！次の問題を答えてください！');
    }
    else
        if(i>=3)
                alert('答えは1万2500円です。');
        else
                alert('違う、もう一度答えてください！ ');
                i=i+1;
    // body...
  }
</script>
</head>
<body>


  <div>
    <th>quiz game</th>
            <br/>
                  </div>
<h1>問題3-2:</h1>
<div>
  <p>額ぶちと絵がセットの物を、1万5000円で購入しました。
</br>そして、絵だけの価格は、額ぶちの価格よりちょうど1万円高いです。
</br>絵の値段はいくらですか？</p>
          </div>
<div><form action="form_action.asp" method="get">
  答え: <input type="text" name="anser1" id="anser1" />
          </div>


  <div>
      <input type="button" value="前の問題" onclick="location.href='liu_1'"/>
      <input type="button" value="提出" onclick="ansertest()"/>
      <input type="button" value="次の問題" onclick="location.href='liu_3'"/>
                  </div>

</form>


</body>
</html>
