<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
		<h1>第2問</h1>
		<p class="lead">検索エンジンGoogleからのクイズ</p>
		<p>Googleで検索する時に、複数ワードを組み合わせて検索することはできますが、望まない検索ワードを指定したい場合は、検索ワードの頭にどんな正規表現をつければよいでしょうか？</p>
		<p>A : 検索ワードの頭に『#』をつける</p>
                <p>B : 検索ワードの頭に『/』をつける</p>
                <p>C : 検索ワードの頭に『-』をつける</p>
                <p>D : 検索ワードの頭に『^』をつける</p>
        </div>
<p> 
<a href="murooka_1">A</a> 
<br> 
<a href="murooka_1">B</a> 
<br> 
<a href="murooka_2">C</a> 
<br> 
<a href="murooka_1">D</a> 
</p> 

    </body>
</html>

