<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
		<h1>第〇〇問</h1>
		<p class="lead">検索エンジンGoogleからのクイズ</p>
		<p>Googleで検索する時に、複数ワードを組み合わせて検索することはできますが、望まない検索ワードを指定したい場合は、検索ワードの頭にどんな正規表現をつければよいでしょうか？</p>
		<p>A : 検索ワードの頭に『#』をつける</p>
                <p>B : 検索ワードの頭に『/』をつける</p>
                <p>C : 検索ワードの頭に『-』をつける</p>
                <p>D : 検索ワードの頭に『^』をつける</p>
        </div>
	<button class="btn btn-primary btn-lg">A</button>
        <button class="btn btn-primary btn-lg">B</button>
        <button class="btn btn-primary btn-lg">C</button>
        <button class="btn btn-primary btn-lg">D</button>
    </body>
</html>

