<html>
<head>
  <title>quiz game</title>

  <style type="text/css">
    body {background-color: gray}
    p {margin-left: 20px}
  </style>
</head>
<body>


  <div>
    <th>quiz game</th>
            <br/>
                  </div>
<h1>Question:</h1>
<div>
  <a href="">告白を絶対に成功させたいあなた。
  <br/> 「私の事、好きか嫌いか○○で答えて」
  <br/>  ○○に入る言葉は？(字数は○の数と無関係です)</a>
          </div>
<div><form action="form_action.asp" method="get">
  答え: <input type="text" name="anser" />
          </div>


  <div>
      <button>Last one</button>
      <input type="submit" value="Submit" />
      <button>Next one</button>
                  </div>

</form>

</body>
</html>
