<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    この暗号を解読せよ！！<br>
cnVieV9vbl9yYWlscwo=
    <img src="code.png" width=500>

    <p>
    <a href="incorrect_R.erb">Cake_PHP</a>
    <br>
    <a href="incorrect_R.erb">sinatra</a>
    <br>
    <a href="correct_R.erb">Ruby_on_Rails</a>
    <br>
    <a href="incorrect_R.erb">Bootstrap</a>
    </p>


  </body>
</html>

